<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            table {
                    width: 100%;
                }
                td {
                    border: 1px solid #000; 
                    padding: 15px;
                    text-align: left;
                }
                th {
                    background-color: #04AA6D;
                    color: white;
                }
        </style>
        <script>
            function getTime(europeCity) {
                    return new Promise(async (resolve, reject) => {
                        try {
                            const response = await fetch(`http://worldtimeapi.org/api/timezone/Europe/${europeCity}`);

                            if (!response.ok)
                                throw new Error(response.statusText);
                            
                            resolve(await response.json());
                        }
                        catch(error) {
                            console.error(error);
                            reject(error);
                        }
                    });
                }

                async function handleWeather() {
                    try {
                        const city = document.getElementById('city').value.trim();
                        const time = await getTime(city);
                        const localTime = time.datetime.match(/\d+:\d+:\d+/g);
                        document.getElementById('response-container').textContent = localTime;
                    }
                    catch(error) {
                        document.getElementById('response-container').textContent = error;
                    }
                }

                /**************************************************************************************/
                /* Function that retrieves the content of one of the selected text fields of the form */
                /**************************************************************************************/
                function getName(http_method) {
                    let name = '';

                    // TODO: Here put the code that, depending on the value of the 'http_method' variable
                    // — GET / POST — assigns the 'name' variable to the value of the 'name_GET' / 'name_POST' form field

                    if (http_method === 'GET' || http_method === 'POST') {
                        name = document.getElementById(`name_${http_method}`).value;
                    }
                    
                    return name;
                }
                
                /**************************************************************************************/
                /* Function that performs (asynchronous) query to the web server using AJAX           */
                /**************************************************************************************/
                /* http_method ∈ ["GET", "POST"]                                                      */ 
                /* response_type ∈ ["text", "json", "document"]                                       */ 
                /* name - Contents of the form's text box - data that needs to be sent asynchronously */
                /**************************************************************************************/
                function requestAJAX(http_method, response_type, name, show_alert=false) {
                    //-----------------------------------------------
                    // Create an object representing the request to the web server — see https://developer.mozilla.org/docs/Web/API/XMLHttpRequest
                    //-----------------------------------------------
                    const xhr = new XMLHttpRequest();

                    //-----------------------
                    // Observers registration
                    //-----------------------

                    // If the request was successful
                    xhr.addEventListener("load", function (evt) {                          
                        if (xhr.status === 200) {
                            console.group('AJAX');
                            console.log(`HTTP method ⟶\t\t${http_method}\nResponse type ⟶\t${response_type}\nInput data ⟶\t\t${name}`);
                            console.log('Response', xhr.response);
                            console.groupEnd();
                            if(show_alert) {
                                let response = xhr.response;
                                switch (response_type) {
                                    case 'json':
                                        response = JSON.stringify(response);
                                        break;
                                    case 'document':
                                        const tag = response.documentElement.nodeName;
                                        response = `<${tag}>${response.documentElement.textContent}</${tag}>`;
                                        break;
                                }

                                document.getElementById('response-container').textContent = response;
                            }
                            else { 
                                results.set(`ajax ${http_method} ${response_type}`, xhr.response);
                                dispatchEvent(received); 
                            }
                        }
                    });

                    // If the request was failed
                    xhr.addEventListener("error", function (evt) {
                        window.alert('There was a problem with this request.');
                    });

                    //--------------------------------------------------------------------------
                    // Configuration and execution of the (asynchronous) query to the web server
                    //--------------------------------------------------------------------------
                    xhr.responseType = response_type;  // Type of data received by the 'load' observer
                    xhr.open(http_method, `http://localhost:8000/submit${http_method === 'GET' ? `?name=${encodeURIComponent(name)}` : ''}`, true);

                    //****************************************************************************************
                    // What is the acceptable data type - the server part should return data of the given type
                    // Default value: '*/*'
                    //****************************************************************************************
                    switch (response_type){
                        case 'json':
                            xhr.setRequestHeader('Accept', 'application/json');
                            break;
                        case 'document':
                            xhr.setRequestHeader('Accept', 'application/xml');
                            break;
                    }       

                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                    xhr.send(http_method === 'POST' ? JSON.stringify({ name: name }) : null);
                }

                /**************************************************************************************/
                /* Function that performs (asynchronous) query to the web server  usingFetch API      */
                /**************************************************************************************/
                /* http_method ∈ ["GET", "POST"]                                                      */ 
                /* response_type ∈ ["text", "json", "xml"]                                            */ 
                /* name - Contents of the form's text box - data that needs to be sent asynchronously */
                /**************************************************************************************/
                async function requestFetchAPI(http_method, response_type, name, show_alert=false) {
                    let accept = '*/*';

                    switch(response_type){
                        case 'json':
                            accept = 'application/json';
                            break;
                        case 'xml':
                            accept = 'application/xml';
                            break;
                    }
                    
                    try {
                        const response = await fetch(`http://localhost:8000/submit${http_method === 'GET' ? `?name=${encodeURIComponent(name)}` : ''}`, {
                            method: http_method,
                            headers: {
                                //****************************************************************************************
                                // What is the acceptable data type—the server part should return data of the given type
                                //****************************************************************************************
                                'Accept': accept,
                                'Content-Type': 'application/json;charset=utf-8'
                            },
                            body: http_method === 'POST' ? JSON.stringify({ name: name }) : null
                        })

                        if (!response.ok)
                            throw Error(response.statusText);

                        console.group('Fetch API');
                        console.log(`HTTP method ⟶\t\t${http_method}\nResponse type ⟶\t${response_type}\nInput data ⟶\t\t${name}`);

                        let result = !response.headers.get('content-type')?.includes('application/json') ? await response.text() : await response.json();
                        result = typeof result !== 'object' ? decodeHtml(result) : result;
                        console.log(result);
                        console.groupEnd();

                        if(show_alert) {
                            document.getElementById('response-container').textContent = (typeof result === 'object' ? JSON.stringify(result) : result);
                        }
                        else {
                            results.set(`fetch ${http_method} ${response_type}`, result);
                            dispatchEvent(received);
                        }
                    }
                    catch(error) {
                        console.error(error);
                    }
                }
        </script>
        <script src="https://unpkg.com/chai/chai.js"></script>
        <script src="https://unpkg.com/mocha/mocha.js"></script>
        <title>Deno</title>
    </head>
    <body>
        <script class='mocha-init'>
            mocha.setup('bdd');
            mocha.checkLeaks(); 
        </script>
        <main>
            <table>
                <tr>
                    <th></th>
                    <th>GET</th>
                    <th>POST</th>
                </tr>
                <tr>
                    <th colspan="3" style="background-color: #04556D;">
                        Without AJAX and Fetch API
                    </th>
                </tr>
                <tr>
                    <th>HTTP</th>
                    <td>
                        <form action="http://localhost:8000/submit" method="GET">
                            <label for="name_GET">Your name</label>
                            <input id="name_GET" name="name" type="text">
                            <br>
                            <input type="submit" value="text">
                        </form>
                    </td>
                    <td>
                        <form action="http://localhost:8000/submit" method="POST">
                            <label for="name_POST">Your name</label>
                            <input id="name_POST" name="name" type="text">
                            <br>
                            <input type="submit" value="text">
                        </form>
                    </td>
                </tr>
                <tr>
                    <th colspan="3" style="background-color: #04556D;">
                        Asynchronous requests
                    </th>
                </tr>
                <tr>
                    <% methods = ['GET', 'POST'] %>
                    <% types = ['text', 'json', 'document'] %>
                    <th>AJAX</th>
                    <% methods.forEach(method => { %>
                        <td>
                            <% types.forEach(type => { %>
                                <button onclick="
                                    console.clear();
                                    requestAJAX(<%= `'${method}', '${type}', getName('${method}')`; %>))
                                ">
                                    <%= type; %>
                                </button>
                            <% }); %>
                        </td>
                    <% }); %>
                    <!-- <td>
                        <button onclick="console.clear(); requestAJAX('GET', 'text', getName('GET'))">
                            GET
                        </button>
                        <button onclick="console.clear(); requestAJAX('GET', 'json', getName('GET'))">
                            GET
                        </button>
                        <button onclick="console.clear(); requestAJAX('GET', 'document', getName('GET'))">
                            GET
                        </button>
                    </td> -->
                </tr>
                <tr>
                    <th>Fetch API</th>
                    <% methods.forEach(method => { %>
                        <td>
                            <% types.forEach(type => { %>
                                <button onclick="
                                    console.clear();
                                    requestFetchAPI(<%= `'${method}', '${type}', getName('${method}')`; %>))
                                ">
                                    <%= type; %>
                                </button>
                            <% }); %>
                        </td>
                    <% }); %>
                </tr>
            </table>
            <input id="city" name="city" type="text" placeholder="City">
            <button onclikc="handleWeather()">Show weather</button>
            <div id="response-container"></div>
        </main>
        <h1>Unit tests</h1>
        <button onclick="window.location.reload();">Restart</button>
        <div id="mocha"></div>
        <script>
            const name = 'ą/?:@&=+$#';

            if(window.location.port == 8000) { 
                window.addEventListener("load", (event) => {
                    for(let method of ["GET","POST"]){
                        for(let type of ["text", "json", "document"])
                            requestAJAX(method, type, name);                        
                        for(let type of ["text", "json", "xml"])
                            requestFetchAPI(method, type, name);
                    }
                })
            };
        </script>
    </body>
</html>